*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    height: 10vh;
    font-size: 16px;
}
header :first-child{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    border-right: black 2px solid;
}
header a{
    padding-left: 30px;
}
h1{
    box-shadow: 10px;
    border: 1px solid black;
}

.main-content{
    height: 85vh
}
.shops{    
    width: 30%;
    height: 100%;
    float: left;
    margin: 0px 10px 10px 10px;
    border: 2px solid black;
    display: flex;
    flex-direction:column;
    align-items: center;
    font-size: 18px;
    border-radius: 10px;
    padding-top: 10px;
}
.shops div{
    height: 60px;
    width: 70%;
    border: 1px black solid;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.items{    
    width: 62%;
    height: 100%;
    margin-left: 35%;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    
}

.item-div{
    width: 35%;
    height: 25vh;
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    display: grid;
    grid-template: 
            a a a
            b auto
            c  auto d /1fr 1fr 1fr;
}
.item-div img{
    width: 90%;
    height: 60%;
    border-radius: 5px;
}